<!DOCTYPE html>
<html>

<head>
    <title>Welcome To Blog Lite!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<!-- <body style="background-color:#ebd9d9;"> -->

<body style="background-color: rgb(200, 228, 200);">

    <div class="top_bar">
        <div name="app_name" class="app_title_container">
            <span class="app_title" style="color:yellow">Blog-Lite</span>
            <span class="app_title" style="color: white">|</span>
            <span class="page_details">My dashboard</span>
        </div>
        <div name="search_bar" class="search_bar_container">
            <span>
                <form action="/user_id={{current_user}}/search" method="post">
                    <div style="height: 40px; vertical-align: middle;">
                        <input name='user_query' type="text" class="search_box" placeholder="Find people...">
                        <button type="submit"><img src="/static/images/search.png"></button>
                    </div>
                </form>
            </span>
        </div>
        <div id="options" class="options_container">
            <a href="/user_id={{current_user}}/account" class="options_link">
                <span class="options_text">My Profile | </span>
            </a>
            <a href="/" class="options_link">
                <span class="options_text">Logout</span>
            </a>
        </div>
    </div>

    <div style="display: flex;">

        <div name="new_post" class="left_container">
            <div class="content_header">
                Create a new post...
            </div>
            <div class="new_post">
                <form action="/user_id={{current_user}}" method="post" enctype="multipart/form-data">
                    <textarea class="post_title_input" type="text" name="post_title" placeholder="Title"
                        required></textarea>
                    <br>
                    <textarea class="post_content_input" type="text" name="post_des" placeholder="Content"
                        required></textarea>
                    <br>
                    <span>Add image: <input name="post_img" type="file" style="margin-top: 10px;"></span>
                    <br>
                    <button style="background-color: blue; margin-top: 10px;" type="submit" class="button">Post</button>
                    <br>
                </form>
            </div>
        </div>

        <div name="user_feed" class="right_container">
            <div class="content_header">
                My feed
            </div>
            {% for post in posts %}
            <div class="feed">
                <div class="post">
                    <div class="post_title">
                        {% if post.creator == current_user %}
                        <a href="/user_id={{current_user}}/account" style="text-decoration: none; color: blue;">
                            {{post.creator}}
                        </a>
                        {%else%}
                        <a href="/user_id={{current_user}}/{{post.creator}}/profile"
                            style="text-decoration: none; color: blue;">
                            {{post.creator}}
                        </a>
                        {%endif%}
                        > {{post.name}}
                    </div>
                    <br><br>
                    <span>{{post.caption}}</span>
                    <br>
                    {%if post.contains_img%}
                    <img class="post_img" src="/static/uploads/{{post.img_id}}.png" />
                    {%endif%}
                    <br><br>
                    <span style="color: #999;">{{post.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}</span>
                </div>
                <br>
            </div>
            {%endfor%}
        </div>
    </div>



    <footer style="text-align:center; color:#999;">
        &copy; Blog-Lite 1.1. All rights reserved.
    </footer>

</body>

</html>