<!DOCTYPE html>
<html>

<head>
    <title>Welcome To Blog Lite!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body style="background-color:#ebd9d9;">

    <div class="top_bar">
        <div id="app_name" style="display: inline-block; width: 40%; height: 40px;">
            <span
                style="color: yellow; font-family: Tahoma; font-size: 30px; margin-left: 0.5%; height: 100%;">Blog-Lite</span>
            <span style="color: white; font-family: Tahoma; font-size: 30px; margin-left: 0.5%; height: 100%;">|</span>
            <span style="vertical-align:super; font-weight: bold; color: white;">My dashboard</span>
        </div>
        <div id="search_bar" style="display: inline-block; width: 25%; height: 40px; vertical-align: top;">
            <span>
                <form action="/{{current_user}}/search" method="post">
                    <div style="height: 40px; vertical-align: middle;">
                        <input name='user_query' type="text" class="search_box" placeholder="Find people...">
                        <button type="submit"><img src="/static/images/search.png"></button>
                    </div>
                </form>
            </span>
        </div>
        <div id="options" style="display: inline-block; width: 30%; text-align: right;">
            <a href="/{{current_user}}/account" style="text-decoration: none; color: white; font-size: medium;">
                <span style="font-weight: bold; vertical-align: super;">My Profile | </span></a>
            <a href="/" style="text-decoration: none; color: white;font-size: medium;"><span
                    style="font-weight: bold; vertical-align: super;">Logout</span></a>
        </div>
    </div>

    <div style="display: flex;">

        <div id="new_post" style="margin-left: 20px; margin-right: 20px; margin-top: 20px; width: 25%;">
            <div style="border: none;background-color: #ebd9d9; text-align: left; " class="content_text">
                Write a new post...
            </div>
            <div class="post_area">
                <form action="/{{current_user}}" method="post" enctype="multipart/form-data">
                    <input style="border: soft;height: 30px; width: 100%;" type="text" name="post_title"
                        placeholder="Title" required>
                    <br>
                    <input
                        style="border: soft;height: 100px; overflow: scroll; margin-top: 5px; width: 100%; text-align: left; vertical-align: text-top;"
                        type="text" name="post_des" placeholder="Content" required>
                    <br>
                    <span>Upload: <input name="post_img" type="file" style="margin-top: 10px;"></span>
                    <br>
                    <button style="margin-top: 10px; width: 100%; background-color: blue;" type="submit"
                        class="button">Post</button>
                    <br>
                </form>
            </div>
        </div>

        <div id="user_feed" style="margin-left: 20px; margin-right: 20px; margin-top: 20px; width: 75%;">
            <div style="border: none;background-color: #ebd9d9; text-align: left; " class="content_text">
                Your feed
            </div>
            {% for post in posts %}
            <div class="posts_bar">
                <div class="post">
                    <div style="color: #ca5555;font-weight: bold;">
                        {% if post.creator == current_user %}
                        <a href="/{{current_user}}/account"
                            style="text-decoration: none; color: blue;">{{post.creator}}</a> >
                        {%else%}
                        <a href="/{{current_user}}/{{post.creator}}/profile"
                            style="text-decoration: none; color: blue;">{{post.creator}}</a> >
                        {%endif%}
                        {{post.name}}
                    </div>
                    <br>
                    <span>{{post.caption}}</span>
                    <br>
                    {%if post.contains_img%}
                    <img style="max-width: 100%; margin-top: 5px;" src="/static/uploads/{{post.img_id}}.png" />
                    {%endif%}
                    <br><br>
                    <span style="color: #999;">{{post.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}</span>
                </div>
                <br>
            </div>
            {%endfor%}
        </div>
    </div>



</body>

</html>