<!DOCTYPE html>
<html>

<head>
    <title>Welcome To Blog Lite!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>

    <div class="top_bar">
        <div name="app_name" class="app_title_container">
            <span class="app_title" style="color: yellow">Blog-Lite</span>
            <span class="app_title">|</span>
            <span class="page_details">Edit Post</span>
        </div>
        <div name="search_bar" class="search_bar_container">
            <span>
                <form action="/user_id={{current_user_data.username}}/search" method="post">
                    <div style="height: 40px; vertical-align: middle;">
                        <input name='user_query' type="text" class="search_box" placeholder="Find people...">
                        <button type="submit"><img src="/static/images/search.png"></button>
                    </div>
                </form>
            </span>
        </div>
        <div id="options" class="options_container">
            <a href=" /user_id={{current_user_data.username}}/account" class="options_link">
                <span class="options_text">My Profile | </span></a>
            <a href=" /user_id={{current_user_data.username}}" class="options_link">
                <span class="options_text">My Dashboard | </span></a>
            <a href="/" class="options_link"><span class="options_text">Logout</span></a>
        </div>
    </div>

    <div style="display: flex;">

        <div name="edit_post" class="edit_post_container">
            <div class="content_header">
                Edit your post
            </div>
            <div class="new_post">
                <form action="/user_id={{current_user_data.username}}/{{post_data.id}}/edit_post" method="post"
                    enctype="multipart/form-data">

                    <textarea class="post_title_input" type="text" name="post_title"
                        required>{{post_data.name}}</textarea>
                    <br>
                    <textarea class="post_content_input" type="text" name="post_des"
                        required>{{post_data.caption}}</textarea>
                    <br>
                    {%if post_data.contains_img%}
                    <img class="post_img" src="/static/uploads/{{post_data.img_id}}.png" />
                    {%endif%}
                    <span>Upload: <input name="post_img" type="file" style="margin-top: 10px;"></span>
                    <br>
                    <button style="margin-top: 10px; width: 100%; background-color: blue;" type="submit"
                        class="button">Update</button>
                    <br>
                </form>
            </div>
        </div>
    </div>


    <footer style="text-align:center; color:#999;">
        &copy; Blog-Lite 1.1. All rights reserved.
    </footer>


</body>

</html>