<!DOCTYPE html>
<html>

<head>
    <title>Blog-Lite | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <div class="top_bar">
        <div name="app_name" class="app_title_container">
            <span class="app_title" style="color: yellow">
                Blog-Lite</span>
            <span class="app_title">
                |</span>
            <span class="page_details">Log in</span>
        </div>
    </div>
    </div>
    <br>
    <div class="error_prompt">
        {{ error }}
    </div>

    <div class="login_signup_bar" style="width: fit-content;">
        <form action="/login" method="post">
            <span style="font-size: larger;">
                Log in to Blog-Lite
            </span>
            <br><br><br>
            <input name="user_id" type="text" class="text" placeholder="Email or Username"><br><br>
            <input name="password" type="password" class="text" placeholder="Password"><br><br><br>
            <button type="submit" class="button">Login</button><br><br>
            <hr style="color: wheat">
            <br>
        </form>
        <div>
            <a href="/signup" style="color: white;">
                <button class="button" style="background-color: blue;">Create new account</button>
            </a>
        </div>
    </div>


    <footer style="text-align:center; color:#999;">
        &copy; Blog-Lite 1.1. All rights reserved.
    </footer>

</body>

</html>