<html>

<head>
    <title>Blog-Lite | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <div class="top_bar">

        <div>
            <a href="/"
                style="text-decoration: none; color: white; font-family: Tahoma; font-size: 70px; margin-left: 20px;">Blog-Lite</a>

            <!-- <a href="/signup" style="text-decoration: none; color: white; float: right; margin-right: 20px; margin-top: 20px;">Signup</a> -->
        </div>
        <br>
        <div style="color: black;"><span>Pen down your thoughts and share it with the world.</span></div>
        <!-- <div style="text-align: right; margin-right: 20px;"> -->

    </div>
    </div>
    <br>
    <div style="text-align: center;" class="danger">
        {{ error }}
    </div>

    <div class="login_signup_bar" style="width: fit-content;">
        <form action="/login" method="post">
            Login to Blog-Lite<br><br>
            <!-- <label>Email or Username:</label> -->
            <input name="email" type="text" class="text" placeholder="Email or Username"><br><br>
            <!-- <label>Password:</label> -->
            <input name="password" type="password" class="text" placeholder="Password"><br><br>
            <button type="submit" class="button">Login</button><br><br>
            <hr style="color: wheat">
            <br>
        </form>
        <div style="background-color: rgb(59, 176, 59);">
            <a href="/signup">Create new
                account</a>
        </div><br><br>
    </div>



</body>

</html>

<!-- <html>

<head>
    <title>Welcome To Blog-Lite!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <div class="top_bar">
        <div style="text-align: left;font-size: 50px;">Blog-Lite!!</div>
    </div>
    <div style="text-align: center; font-size: 100px;">
        <a href="/signup"><button type="button" class="button">Sign-Up</button> </a>
        <br>
        <a href="/login"><button type="button" class="button">Log-In</button> </a>

    </div>
</body>

</html> -->
<!-- <html>

<head>
    <title>Blog-Lite | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <div class="top_bar">

        <div class="name">Blog-Lite </div>
        <a href="/signup"><button type="button" class="top_bar_button">Signup</button></a>
    </div>
    <div style="text-align: center;" class="danger">
        {{ error }}
    </div>
    <form action="/login" method="post">

        <div class="login_signup_bar">
            Login to Blog-Lite<br><br>
            <label>Email or Username:</label>
            <input name="email" type="text" class="text" placeholder="Email or Username"><br><br>
            <label>Password:</label>
            <input name="password" type="password" class="text" placeholder="Password"><br><br>
            <button type="submit" class="button">Login</button><br><br>
        </div>
    </form>

</body>

</html> -->