<!DOCTYPE html>
<html>

<head>
    <title>Profile | Blog-Lite</title>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body style="background-color:#ebd9d9;">
    <br>
    <div style="text-align: right;">
        <a href="/welcome/{{username}}"><span>Dashboard /</span></a>
        <a href="/login"><span>Logout</span></a>
    </div>
    <div class="red_bar">
        <div class="red_bar_text">
            Blog-Lite &nbsp &nbsp <input type="text" class="search_box" placeholder="Search for people">
            <img src="/static/images/user.png" style="width: 45px; float: right;">
        </div>
    </div>

    <div class="content">
        <div class="content_text">
            <img src="/static/images/mountain.jpg" style="width: 100%;">
            <img class="profile_pic" src="/static/images/user.png">
            <br>
            <div style="font-size: 25px;margin-bottom: 20px;">{{username}}</div>
            <div class="menu_buttons">Followers
                <span style="color: black;">{{user_data.followers_count}}</span>
            </div>
            <div class="menu_buttons">Following
                <span style="color: black;">{{user_data.following_count}}</span>
            </div>
            <div class="menu_buttons">Posts
                <span style="color: black;">{{user_data.posts_count}}</span>
            </div>
        </div>

        <div style="display: flex;">
            <div style="min-height: 400px;flex: 1;">
                <div class="profile_headers">People you may know</div>
                <div class="friends_bar">
                    {%for user in users_data%}
                    <a href="/profile/{{user.first_name}}" class="friends">
                        {{user.username}}
                    </a><br>

                    {%endfor%}
                </div>


            </div>
            <div style="min-height: 400px;flex: 2.5;">

                <div class="profile_headers">My Posts</div>

                {%for post in user_data.posts %}
                <div class="posts_bar">
                    <div class="post">
                        <div style="color: #ca5555;font-weight: bold;">
                            {{post.id}} -> {{post.name}}
                        </div><br>
                        <img src="data:image/png;base64,{{image_url}}" />
                        <div>{{post.caption}}</div>
                        <br><br>

                        <a href="">Like</a> . <a href="">Edit</a> . <a href="">Delete</a> . <span
                            style="color: #999;">{{post.timestamp.date()}}</span>
                    </div><br>
                </div>
                {%endfor%}
            </div>

        </div>
    </div>
</body>

</html>