<!DOCTYPE html>
<html>

<head>
    <title>Profile | Blog-Lite</title>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <div class="top_bar">
        <div name="app_name" class="app_title_container">
            <span class="app_title">Blog-Lite</span>
            <span class="app_title">|</span>
            <!-- <span style="vertical-align:super; font-weight: bold; color: white;">
                {{user_profile}}'s Profile |</span> -->
            <span class="page_details">{{user_profile_data.followers_count}} Followers |
                {{user_profile_data.following_count}} Following | {{user_profile_data.posts_count}} Posts </span>

            {% if user_profile_data.username != current_user%}
            {%if isFollowed%}
            <a href="/{{current_user}}/{{user_profile_data.username}}/unfollow" style="text-decoration: none;">
                <span class="page_details">| Unfollow</span></a>
            {%else%}
            <a href="/{{current_user}}/{{user_profile_data.username}}/follow" style="text-decoration: none;">
                <span class="page_details">| Follow</span></a>
            {%endif%}
            {%else%}
            <a href="/{{current_user}}/account" style="text-decoration: none;">
                <span class="page_details">| Close</span></a>
            {%endif%}
        </div>
        <div id="search_bar" class="search_bar_container">
            <span>
                <form action="/{{current_user}}/search" method="post">
                    <div style="height: 40px; vertical-align: middle;">
                        <input name='user_query' type="text" class="search_box" placeholder="Find people...">
                        <button type="submit"><img src="/static/images/search.png"></button>
                    </div>
                </form>
            </span>
        </div>
        <div id="options" class="options_container">
            <a href=" /{{current_user}}/account" class="options_link">
                <span class="options_text">My Profile | </span>
            </a>
            <a href=" /{{current_user}}" class="options_link">
                <span class="options_text">My Dashboard | </span>
            </a>
            <a href="/" class="options_link">
                <span class="options_text">Logout</span>
            </a>
        </div>
    </div>

    <div style="display: flex;">
        <div class="left_container">
            <div class="following_followers">
                Followed by
            </div>
            <div class="friends_bar">
                {%if user_profile_data.followers%}
                {%for user in users_data%}
                {% if (user.id|string in user_profile_data.followers.split('_'))%}
                {%if user.username == current_user%}
                <a href="/{{current_user}}/account" class="friends" style="text-decoration: none;">{{user.first_name}}
                    {{user.last_name}} ({{user.username}})</a>
                {%else%}
                <a href="/{{current_user}}/{{user.username}}/profile" class="friends"
                    style="text-decoration: none;">{{user.first_name}} {{user.last_name}} ({{user.username}})</a>
                {%endif%}
                <br>
                {%endif%}
                {%endfor%}
                {%endif%}
            </div>
            <br><br>
            <div class="following_followers">
                Following
            </div>
            <div class="friends_bar">
                {%if user_profile_data.following%}
                {%for user in users_data%}
                {%if (user.id|string in user_profile_data.following.split('_'))%}
                {%if user.username == current_user%}
                <a href="/{{current_user}}/account" class="friends" style="text-decoration: none;">{{user.first_name}}
                    {{user.last_name}} ({{user.username}})</a>
                {%else%}
                <a href="/{{current_user}}/{{user.username}}/profile" class="friends"
                    style="text-decoration: none;">{{user.first_name}} {{user.last_name}} ({{user.username}})</a>
                {%endif%}
                <br>
                {%endif%}
                {%endfor%}
                {%endif%}
            </div>
        </div>

        <div class="right_container">
            <div class="content_header">
                {{user_profile_data.username}}'s activity
            </div>
            {% for post in user_profile_posts %}
            <div class="feed">
                <div class="post">
                    <div class="post_title">
                        {% if post.creator == current_user %}
                        <a href="/{{current_user}}/account" style="text-decoration: none; color: blue;">
                            {{post.creator}}
                        </a>
                        {%else%}
                        <a href="/{{current_user}}/{{post.creator}}/profile"
                            style="text-decoration: none; color: blue;">
                            {{post.creator}}
                        </a>
                        {%endif%}
                        > {{post.name}}
                    </div>
                    <br>
                    <span>{{post.caption}}</span>
                    <br>
                    {%if post.contains_img%}
                    <img class="post_img" src="/static/uploads/{{post.img_id}}.png" />
                    {%endif%}
                    <br><br>
                    <span style="color: #999;">{{post.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}</span>
                </div>
                <br>
            </div>
            {%endfor%}
        </div>
    </div>

    <footer style="text-align:center; color:#999;">
        &copy; Blog-Lite 1.1. All rights reserved.
    </footer>

</body>

</html>