<!DOCTYPE html>
<html>

<head>
    <title>Profile | Blog-Lite</title>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <div class="top_bar">
        <div name="app_name" class="app_title_container">
            <span class="app_title" style="color: yellow">Blog-Lite</span>
            <span class="app_title">|</span>
            <span class="page_details">{{current_user_data.followers_count}} Followers |
                {{current_user_data.following_count}} Following |
                {{current_user_data.posts_count}} Posts
            </span>
        </div>
        <div name="search_bar" class="search_bar_container">
            <span>
                <form action="/{{current_user_data.username}}/search" method="post">
                    <div style="height: 40px; vertical-align: middle;">
                        <input name='user_query' type="text" class="search_box" placeholder="Find people...">
                        <button type="submit"><img src="/static/images/search.png"></button>
                    </div>
                </form>
            </span>
        </div>
        <div name="options" class="options_container">
            <a href=" /{{current_user_data.username}}/account" class="options_link">
                <span class="options_text">My Profile | </span>
            </a>
            <a href=" /{{current_user_data.username}}/{{current_user_data.username}}/profile" class="options_link">
                <span class="options_text">Public view |</span>
            </a>
            <a href=" /{{current_user_data.username}}" class="options_link">
                <span class="options_text">My Dashboard | </span>
            </a>
            <a href="/" class="options_link">
                <span class="options_text">Logout</span>
            </a>
        </div>
    </div>

    <div style="display: flex;">
        <div class="left_container">
            <div class="following_followers">
                Followed by
            </div>
            <div class="friends_bar">
                {% if current_user_data.followers %}
                {%for user in users_data%}
                {% if (user.id|string in current_user_data.followers.split('_'))%}
                {%if user.username == current_user_data.username%}
                <a href="/{{current_user_data.username}}/account" class="friends"
                    style="text-decoration: none;">{{user.first_name}} {{user.last_name}} ({{user.username}})</a>
                {%else%}
                <a href="/{{current_user_data.username}}/{{user.username}}/profile" class="friends"
                    style="text-decoration: none;">{{user.first_name}} {{user.last_name}} ({{user.username}})</a>
                {%endif%}
                <br>
                {%endif%}
                {%endfor%}
                {%endif%}
            </div>
            <br><br>
            <div class="following_followers">
                Following
            </div>
            <div class="friends_bar">
                {% if current_user_data.following %}
                {%for user in users_data%}
                {%if user.id|string in current_user_data.following.split('_')%}
                {%if user.username == current_user_data.username%}
                <a href="/{{current_user_data.username}}/account" class="friends"
                    style="text-decoration: none;">{{user.first_name}} {{user.last_name}} ({{user.username}})</a>
                {%else%}
                <a href="/{{current_user_data.username}}/{{user.username}}/profile" class="friends"
                    style="text-decoration: none;">{{user.first_name}} {{user.last_name}} ({{user.username}})</a>
                {%endif%}
                <br>
                {%endif%}
                {%endfor%}
                {%endif%}
            </div>
        </div>

        <div class="right_container">
            <div class="content_header">
                My activity
            </div>
            {% for post in my_posts %}
            <div class="feed">
                <div class="post">
                    <div class="post_title">
                        <a href="/{{current_user_data.username}}/account" style="text-decoration: none; color: blue;">
                            {{post.creator}}
                        </a>
                        > {{post.name}}
                    </div>
                    <br>
                    <span>{{post.caption}}</span>
                    <br><br>
                    {% if post.contains_img%}
                    <img class="post_img" src="/static/uploads/{{post.img_id}}.png" />
                    {%endif%}
                    <br><br>
                    <a href="/{{current_user_data.username}}/{{post.id}}/edit_post">Edit</a> . <a
                        href="/{{current_user_data.username}}/{{post.id}}/delete_post">Delete</a> .
                    <span style="color: #999;">{{post.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}</span>
                </div>
                <br>
            </div>
            {%endfor%}
        </div>
    </div>

    <footer style="text-align:center; color:#999;">
        &copy; Blog-Lite 1.1. All rights reserved.
    </footer>

</body>

</html>