<!DOCTYPE html>
<html>

<head>
    <title>Blog-Lite | Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <div class="top_bar">
        <div>
            <span style="color: yellow; font-family: Tahoma; font-size: 30px; margin-left: 0.5%; height: 100%;">
                Blog-Lite</span>
            <span style="color: white; font-family: Tahoma; font-size: 30px; margin-left: 0.5%; height: 100%;">
                |</span>
            <span style="vertical-align:super; font-weight: bold; color: white">Sign Up</span>
        </div>
    </div>
    <div style="text-align: center;" class="danger">
        {{ error }}
    </div>
    <br>
    <div class="login_signup_bar" style="width: fit-content;">
        <form action="/signup" method="post">
            Create your account<br><br>
            <input id="fn_id" name="firstname" type="text" class="text" placeholder="First Name" required><br><br>
            <input id="ln_id" name="lastname" type="text" class="text" placeholder="Last Name" required><br><br>
            <input id="un_id" name="username" type="text" class="text" placeholder="Username" required><br><br>
            <input id="em_id" name="email" type="email" class="text" placeholder="Email" required><br><br>
            <input id="pwd_id" name="password" type="password" class="text" placeholder="Password" required><br><br>

            <button type="submit" class="button">Sign Up</button><br><br>
            <hr style="color: wheat">
            <br>
        </form>
        <div>
            <a href="/" style="color: white;"><button class="button" style="background-color: rgb(59, 176, 59);">Log
                    in</button></a>
        </div><br><br>
    </div>


</body>

</html>